{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trips Recall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Trips Recall</a>
            {% if no_nav %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'signout user' %}">Log Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Create Trip</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Add Photo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">My Trips</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin user' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup user' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                </div>
            {% endif %}

        </nav>
    </header>
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
</body>
</html>