{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="my-custom-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add new Trip</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_css %}
<style>
    .my-custom-form {
        padding: 50px;
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .my-custom-form input[type="text"], .my-custom-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .my-custom-form button[type="submit"] {
        /* Bootstrap */
    }
</style>
{% endblock %}